<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> F1 Drivers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
  <!-- Alexander Albon -->
  <ion-accordion value="alexander-albon">
    <ion-item slot="header" color="light">
      <ion-label>Alexander Albon</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Williams</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Thailand</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#23</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Carlos Sainz Jr. -->
  <ion-accordion value="carlos-sainz">
    <ion-item slot="header" color="light">
      <ion-label>Carlos Sainz Jr.</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Williams</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Spain</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#55</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Charles Leclerc -->
  <ion-accordion value="charles-leclerc">
    <ion-item slot="header" color="light">
      <ion-label>Charles Leclerc</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Ferrari</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Monaco</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#16</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Esteban Ocon -->
  <ion-accordion value="esteban-ocon">
    <ion-item slot="header" color="light">
      <ion-label>Esteban Ocon</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Haas</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>France</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#31</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Fernando Alonso -->
  <ion-accordion value="fernando-alonso">
    <ion-item slot="header" color="light">
      <ion-label>Fernando Alonso</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Aston Martin</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Spain</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#14</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Franco Colapinto -->
  <ion-accordion value="franco-colapinto">
    <ion-item slot="header" color="light">
      <ion-label>Franco Colapinto</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Alpine</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Argentina</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#43</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Gabriel Bortoleto -->
  <ion-accordion value="gabriel-bortoleto">
    <ion-item slot="header" color="light">
      <ion-label>Gabriel Bortoleto</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Sauber</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Brazil</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#14</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- George Russell -->
  <ion-accordion value="george-russell">
    <ion-item slot="header" color="light">
      <ion-label>George Russell</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Mercedes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>United Kingdom</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#63</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Isack Hadjar -->
  <ion-accordion value="isack-hadjar">
    <ion-item slot="header" color="light">
      <ion-label>Isack Hadjar</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Racing Bulls</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>France</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#20</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Kimi Antonelli -->
  <ion-accordion value="kimi-antonelli">
    <ion-item slot="header" color="light">
      <ion-label>Kimi Antonelli</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Mercedes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Italy</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#12</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Lance Stroll -->
  <ion-accordion value="lance-stroll">
    <ion-item slot="header" color="light">
      <ion-label>Lance Stroll</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Aston Martin</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Canada</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#18</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Lando Norris -->
  <ion-accordion value="lando-norris">
    <ion-item slot="header" color="light">
      <ion-label>Lando Norris</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>McLaren</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>United Kingdom</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#4</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Liam Lawson -->
  <ion-accordion value="liam-lawson">
    <ion-item slot="header" color="light">
      <ion-label>Liam Lawson</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Racing Bulls</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>New Zealand</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#30</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Lewis Hamilton -->
  <ion-accordion value="lewis-hamilton">
    <ion-item slot="header" color="light">
      <ion-label>Lewis Hamilton</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Ferrari</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>United Kingdom</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#44</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Max Verstappen -->
  <ion-accordion value="max-verstappen">
    <ion-item slot="header" color="light">
      <ion-label>Max Verstappen</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Red Bull Racing</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Netherlands</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#1</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Nico Hülkenberg -->
  <ion-accordion value="nico-hulkenberg">
    <ion-item slot="header" color="light">
      <ion-label>Nico Hülkenberg</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Sauber</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Germany</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#27</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Oliver Bearman -->
  <ion-accordion value="oliver-bearman">
    <ion-item slot="header" color="light">
      <ion-label>Oliver Bearman</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Haas</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>United Kingdom</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#87</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Oscar Piastri -->
  <ion-accordion value="oscar-piastri">
    <ion-item slot="header" color="light">
      <ion-label>Oscar Piastri</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>McLaren</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Australia</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#81</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Pierre Gasly -->
  <ion-accordion value="pierre-gasly">
    <ion-item slot="header" color="light">
      <ion-label>Pierre Gasly</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Alpine</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>France</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#10</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>

  <!-- Yuki Tsunoda -->
  <ion-accordion value="yuki-tsunoda">
    <ion-item slot="header" color="light">
      <ion-label>Yuki Tsunoda</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
        <ion-label>
          <h2>Team</h2>
          <p>Red Bull Racing</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Country</h2>
          <p>Japan</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Car Number</h2>
          <p>#22</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>

</ion-content>
