<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>F1 Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>McLaren Racing</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Scuderia Ferrari</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Oracle Red Bull Racing</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mercedes AMG Petronas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aston Martin Aramco</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alpine BWT</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Haas MoneyGram</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Visa Cash App Racing Bulls</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Atlassian Williams Racing</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kick Sauber</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
